body {
    font-family: 'Lexend', sans-serif;/*lexend font*/
    /*remove margins/padding*/
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #064425, #ffffff);/*gradiant background*/
    background-attachment: fixed; /*background doesnt move when scrolling*/

}

/* make a color key to match POWELL*/
:root {
    --primary-color: #0c3c0e;
    --primary-color-dark: #094309; 
    --secondary-color: #ced0cb; 
    --third-color:  #ccc;
    --text-color: #333333;
}

/* Outline behind Logo */
.banner {
    background-color: var(--primary-color);
    padding: 10px;/*padding that creates outline appearance*/
}

/* Powell Logo */
.banner .logo {
    width: 100%;/*logo image is full width*/
    height: 250px;
}

/* Login Container Styles */
.login-container {
    width: 350px;
    margin: 120px auto;/*center container with margin*/
    padding: 40px;/*add padding inside container*/
    background-color: var(--secondary-color);
    border-radius: 28px; /* make container sqauroval*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in;/*animation below*/
}
 /* fade in animation for login in container */
 @keyframes fadeIn {/*when page loads, container has animation*/
    from {
        opacity: 0; /*transparent*/
        transform: translateY(-20px); /*start 20px up*/
    }
    to {
        opacity: 1; /*opaque*/
        transform: translateY(0); /*original position*/
    }
}


/* 'Login Title */
.login-container h2 {
    margin-top: 0px; /*remove top margin*/
    margin-bottom: 10px; /*space below title*/
    font-size: 2.5em;
    color: var(--primary-color);
    font-family: 'Lexend', sans-serif;
    text-align: center; /*align title in center*/
}


/* email/pw containers */
.login-container input {
    width: 91.5%;
    padding: 12px 14px; /*match length of login box*/
    font-family: 'Lexend', sans-serif;
    margin: 8px 0; /*spacing belowe input */
    border: solid var(--third-color);
    border-radius: 17px; /*sqauroval*/
    transition: border-color 0.25s; /*hoover transisiton */
}


/* email/pw container will have border color when hovering*/
.login-container input:hover {
    border-color: var(--primary-color-dark); /*border on hover*/
}



.login-container button {
    width: 100%; /*button is full width of container*/
    padding: 12px 15px; /*padding inside button*/
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 18px; /*rounded corner*/
    font-family: 'Lexend', sans-serif;
    font-size: 1.1em;
    cursor: pointer; /*pointer cursor*/
    transition: background-color 0.25s; /*color transisition on hover*/
}


.login-container button:hover {
  background-color: #011b0a; /* Darken the button on hover */
}

#error-message {/*error message styling*/
    color: red;
    margin-top: 15px;
    font-weight: bold;
}

/* responsive design? (from youtube tutorial--might delete) */
@media (max-width: 600px) {
    .login-container {
        width: 90%;/*container takes most of screen width*/
        margin: 40px auto;
        padding: 20px;
    }
}