/* General Styles */
body {
  font-family: 'Lexend', sans-serif;
  /*remove margin +padding */
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #064425, #ffffff);
  background-attachment: fixed;  /*background doesnt move when scrolling*/
}

/* Color Variables */
:root {
  --primary-color: #0c3c0e;
  --primary-color-dark: #094309;
  --secondary-color: #ced0cb;
  --third-color: #ccc;
  --text-color: #333333;
}

/* Instruction */
.instruction {
  text-align: center; /*center text*/
  margin-bottom: 20px;/*space below instructions*/
  font-family: 'Lexend', sans-serif;
}

/* Available Blocks Container */
.available-blocks {
  text-align: center;
  margin-bottom: 20px; /*spacing below blocks*/
}

.available-blocks h3 {
  font-family: 'Lexend', sans-serif;
}

.model-list {
  display: flex; /*this displays blocks in s straight row*/
  flex-wrap: wrap; /*blocks wrap onto next line*/
  justify-content: center; /*center align blocks*/
  gap: 10px; /*space between blocks*/
}

/* Model Blocks */
.model-block {
  /*fixed width/height for each block*/
  width: 100px;
  height: 50px;
  background-color: var(--primary-color); /*block color*/
  color: var(--secondary-color); /*text color*/
  border-radius: 8px; /*round corners*/
  display: flex;/*content algined*/
  align-items: center; /*vertically centered*/
  justify-content: center;/*horizontally centered*/
  font-family: 'Lexend', sans-serif;
  cursor: grab; /*grab curser on hoover*/
  z-index: 10;/*block appears above other elements*/
}

/*blocks in model-list*/
#model-list .model-block {
  position: relative;/*default positioning in model-list*/
}

/* blocks in map area*/
#map-area .model-block {
  position: absolute;/*blocks can be places freely*/
}

/* Map Area */
.map-area {
  width: 670px;
  height: 600px;
  margin: 0 auto 40px auto; /*center map with below spacing*/
  background-color: #c7e0ce;
  position: relative; /*relative positioning of map area container*/
  overflow: hidden; /*prevets blocks from spilling out of map area*/
}

/* controls (buttons) container */
.controls {
  display: flex; /*buttons in a row*/
  justify-content: center;
  gap: 20px; /*gap between buttons*/
  margin: 20px 0; /*spacing above/below*/
}

.control-button {
  padding: 10px 20px; /*padding insdie button*/
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none; /*remove border*/
  border-radius: 8px; /*rounded corners*/
  font-size: 16px;
  cursor: pointer; /*pointer on hoover*/
  font-family: 'Lexend', sans-serif;
  transition: background-color 0.3s ease; /*darker on hoover*/
}

.control-button:hover {
  background-color: var(--primary-color-dark);/*dark green hoover*/
}
