/* General Styles */
body {
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #064425, #ffffff);
  background-attachment: fixed;

}

/* make a color key to match POWELL*/
:root {
  --primary-color: #0c3c0e;
  --primary-color-dark: #094309; 
  --secondary-color: #ced0cb; 
  --third-color:  #ccc;
  --text-color: #333333;
}
 

/* The thumbnail box */
.thumbnail-box {
  background-color: #f0f0f0;
  border: 2px solid #ccc;   
  border-radius: 18px; 
  padding: 40px 20px;       
  display: flex;
  /*align-item + justify-contents are properties need to be set when using flex layout*/
  /*centers items horizontally +vertically*/
  align-items: center; /*aligns items veritcally*/
  justify-content: center; /*horizontally*/
  height: 150px;    
}

/* Model ID text */
.model-id {
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
  color: #333;/*text color*/
}

.video-item:hover .thumbnail-box {
  background-color: #e0e0e0; /*  darker on hover */
  border-color: #aaa;/* darken the border */
}


/* Video Grid Styles */
.video-grid {
    display: flex;
    flex-wrap: wrap; /*wrap to next line */
    gap: 20px;
    justify-content: center; /*centers horizontally*/
    padding: 20px; /*padding around grid*/
  }
  
  .video-item {
    width: 300px;
    text-align: center; /*center text in block*/
    cursor: pointer; /*pointer when hovering */
  }

  .video-item p {
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    margin-top: 8px; /*space above margin*/
  }

/* Search Container Styles */
.search-container {
  --padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center; /*cetner vertically*/
  margin: 20px auto;
  width: max-content; /*based on content */
  padding: var(--padding); /*set to 0 in body */
  border-radius: 28px; /*squareoval */
  background: #f6f6f6;
  transition: box-shadow 0.25s, background-color 0.25s; /*smooth hoover*/
  position: relative;
}

.search-container:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75); /*box shadow*/
}

.search-container:hover {
  background-color: #e0e0e0; /* darker gray on hover */
}

#search-input {
  padding: 10px;
  font-size: 16px; 
  font-family: 'Lexend', sans-serif;
  color: #333333;
  margin-left: var(--padding);
  /* remove outline +border */
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
}

/*magnifier icon*/
.search-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.5); /*light grey*/
}

.search-icon {
  font-size: 24px;
  position: relative; /*position relative to container*/
  z-index: 1; /*above other elements*/
  pointer-events: none; /*this will prevent interaction with any other elements in location*/
}

/*make functional button invisible*/
#search-button {
  position: absolute; /*placed in search consiter*/
  right: var(--padding); /* align it with the magnifier icon */
  /*matched magnifier icon size*/
  width: 24px;
  height: 24px;
  background-color: transparent; /* make the button invisible */
  border: none;
  cursor: pointer; /*pointer cursor on hoover*/
  z-index: 2; /* button is on magnifier icon (2>1) */
}

#search-button:hover {
  background-color: transparent; /*hover transparent rn...change */
}
  /* Sign-Up Container Styles */
.signup-container {
    width: 350px;
    margin: 80px auto;
    padding: 40px;
    background-color: var(--secondary-color); /* Semi-transparent white */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; /*aligns text*/
    border-radius: 17px; /*squareoval*/
    
  }
  
  .signup-container h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: var(--primary-color);
    font-family: 'Lexend', sans-serif;
    text-align: center;
  }
  
  .signup-container input {
    width: 91.5%;
    padding: 12px 14px; /*match length of login box*/
    font-family: 'Lexend', sans-serif;
    margin: 8px 0;
    border: solid var(--third-color);
    border-radius: 17px; /*sqauroval*/
    transition: border-color 0.25s;
  }
  
  .signup-container input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(12, 60, 14, 0.3);
    outline: none;
  }
  
  .signup-container button {
    width: 100%;
    padding: 12px 15px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none; /*remove border*/
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer; /*cursor on hover*/
    border-radius: 17px; /*sqauroval*/
    transition: background-color 0.3s ease; /*submit button hoover*/
    
  }
  /*darker on hoover*/
  .signup-container button:hover {
    background-color: var(--primary-color-dark);
  }
  .search-wrapper {
    display: flex;
    flex-direction: column; /*stack child elemetns all vertically*/
    align-items: center; /*horizonatlly centers child elements*/
  }
  #signup-error-message {
    /*error message style*/
    color: red;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
  }
  

  .signup-container a {
    color: var(--primary-color);
    text-decoration: none; /*remove underline*/
    
  }
  


  /* Hover effects*/
  .btn-primary {
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}



.map-builder-link {
  text-align: center;
  margin: 20px 0;
}

.map-builder-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.map-builder-button:hover {
  background-color: var(--primary-color-dark);
}

